@import '~bootstrap/dist/css/bootstrap.min.css';


html, body { 
  height: 100%; 
}
body { 
  margin:0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  padding:0; 
  overflow: auto; 
}

table {
  width: 100%;
}


mat-form-field{
  width:100%;
}

input {
  width:100%;
}

nav {
  height: 80px;
}

.navcolor{
  color:black;
}



.navcolor{
  color:black;
}
/* 
.mat-cell, .mat-header-cell {s
  padding-left: 5px;
  padding-right: 5px;
} */

.table-container-400{
  max-height: calc(100vh-400px);
  overflow: flex;
  display: flex;
  
}

.card-header{
  height: 40px;
  background-color: lightgray;
}

.card-body{
  padding: 0px; 
  margin:0px;
}

.mat-header-cell {    
  background-color:grey;
  color: white;
 }

a:hover {
  background-color:royalblue;
}

.headerfooter{
  background-color: lightgreen;

}

.button-margin {
  margin:10px;
}

.padding-zero{
  padding:0px;
}

/* keeps the datea and datepicker in one line */
.date_container {        
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}




