# Disable directory listing
Options All -Indexes

# Remove the php extension from the filename
RewriteEngine On
RewriteBase /ringup/api
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]

# Set the headers for the restful api
# DEV:
Header always set Access-Control-Allow-Origin http://localhost:4200
# PROD:
#Header always set Access-Control-Allow-Origin https://amaranthacres.com
#Header always set Access-Control-Allow-Origin https://www.amaranthacres.com
# END PROD
Header always set Access-Control-Max-Age "1000"
Header always set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Origin, Authorization, Accept, Client-Security-Token, Accept-Encoding"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
